<!-- Footer -->
<section class= "mx-auto px-8 sm:px-6 lg:px-8 py-8 bg-red-600 text-white" id="contact-section">
    <div class="grid grid-cols-3 sm:grid-cols-3 gap-8 max-w-7xl mx-auto">
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">{{contactUs}}</h2>
            <p class="mb-8">{{instructions}}</p>
            <p class="mb-2">{{phone}}</p>
            <p>{{email}}</p>
        </div>

        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">{{letsConnect}}</h2>

            <div class="flex">
                <a href="https://facebook.com/">
                    <img class="h-6 mx-2" src="assets/icon_FB.png" alt="Twitter Icon">
                </a>
                
                <a class="mb-2" href="https://facebook.com/" target="_blank">Facebook</a>
            </div>

            <div class="flex">
                <a href="https://twitter.com/">
                    <img class="h-6 mx-2" src="assets/icon_TW.png" alt="Twitter Icon">
                </a>
                
                <a class="mb-2" href="https://twitter.com/" target="_blank">Twitter</a>
            </div>

            <div class="flex">
                <a href="https://instagram.com/">
                    <img class="h-6 mx-2" src="assets/icon_IG.png" alt="Instagram Icon">
                </a>
                
                <a class="mb-2" href="https://instagram.com/" target="_blank">Instagram</a>
            </div>
        </div>

        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-8">{{legal}}</h2>
            <p routerLink="/privacyPolicy" routerLinkActive="active" style="cursor:pointer;">{{privacyPolicy}}</p>
            <p routerLink="accessibilityStatement/" routerLinkActive="active" style="cursor:pointer;">{{accessibility}}</p>
        </div>
    </div>

</section>
<section class="bg-red-700 text-white p-4">
    <p class="text-right">
        © 2023 Mexican Kitchen
    </p>
    
</section>