<div class="max-w-7xl mx-auto px-8 sm:px-6 lg:px-8 py-40" data-v-c1077fd2="">
    <div class="column relative w-full  " data-v-7c9b5814="" data-v-c1077fd2="">
        <div class="text-page" data-v-7c9b5814="">
            <p dir="ltr"><strong>Accessibility Statement</strong></p>
            <p dir="ltr"><span>Mexican Kitchen is committed to providing a positive experience for all of our guests. We attempt to facilitate the accessibility and usability of our website and mobile site, so that our guests can gather information and do business through our website regardless of the use of assistive technologies like a screen reader, a magnifier, voice recognition software, or captions for videos.</span></p>
            <p dir="ltr"><strong>Accessibility Assistance</strong></p>
            <p dir="ltr"><span>If you have difficulty using or accessing any element of this website or our mobile site, please feel free to email us at info@mexicankitchen.com and we will work with you to provide information, or help you with your transaction through a communication method that is accessible for you, consistent with applicable law.</span></p>
            <p dir="ltr"><strong>Actions</strong></p>
            <p dir="ltr"><span>Mexican Kitchen has taken a variety of steps and devoted resources to enhancing the accessibility of our website and mobile site. We aim to comply with WCAG 2.0 accessibility standards up to level AA.</span></p>
            <p dir="ltr"><strong>Ongoing Effort</strong></p>
            <p dir="ltr"><span>We are proud of the efforts that we have completed and that are in-progress to ensure that our website and mobile site are accessible to everyone. We view accessibility as an ongoing effort and are continually seeking solutions that will bring all areas of our website and mobile site to the same level of overall web accessibility.</span></p>
            <p dir="ltr"><strong>Feedback</strong></p>
            <p dir="ltr"><span>Please contact us at info@mexicankitchen.com if you have any feedback or suggestions as to how we could improve the accessibility of this website.</span>&nbsp;</p>
        </div>
    </div>
</div>