<!--Menu Itenms-->
<section class="max-w-7xl mx-auto px-8 sm:px-6 lg:px-8 py-12" id="menu-section">
    <div class="container mx-auto">

      <!--div *ngIf="menu !=true" class="bg-red-500 shadow-md p-2 my-5 max-w-fit" (click)="menuToggle()" style="cursor:pointer;">
        <h3 class="text-xl font-bold m-2 text-white">< Back To Menu</h3>
      </div-->
      
      <nav class="flex overflow-x-auto py-6">
        <div class=" flex-shrink-0">

          <!-- Desktop Menu Nav -->
          <ul class="hidden sm:flex flex-wrap space-x-8 relative align-middle">
            <li [class]="menu === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-3xl font-bold flex-shrink-0"
                (click)="menuToggle()" style="cursor:pointer;">Menu</Button>
            </li>

            <li [class]="appetizers === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-3xl font-bold flex-shrink-0"
                (click)="appetizersToggle()" style="cursor:pointer;">{{categories0}}</Button>
            </li>

            <li [class]="soupsAndSalads === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-3xl font-bold flex-shrink-0"
                (click)="soupsAndSaladsToggle()" style="cursor:pointer;">{{categories1}}</Button>
            </li>

            <li [class]="tacos === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-3xl font-bold flex-shrink-0"
                (click)="tacosToggle()" style="cursor:pointer;">{{categories2}}</Button>
            </li>

            <li [class]="enchiladas === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-3xl font-bold flex-shrink-0"
                (click)="enchiladasToggle()" style="cursor:pointer;">{{categories3}}</Button>
            </li>

            <li [class]="desserts === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-3xl font-bold flex-shrink-0"
                (click)="dessertsToggle()" style="cursor:pointer;">{{categories4}}</Button>
            </li>

            <li [class]="beverages === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-3xl font-bold flex-shrink-0"
                (click)="beveragesToggle()" style="cursor:pointer;">{{categories5}}</Button>
            </li>
          </ul>

          <!-- Mobile Menu Nav -->
          <ul class="sm:hidden flex flex-wrap space-x-4 relative align-middle">
            <li [class]="menu === true ? 'bg-red-500 rounded-lg p-1 text-white' : '' ">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-2xl font-bold flex-shrink-0"
                (click)="menuToggle()" style="cursor:pointer;">Menu</Button>
            </li>

            <li [class]="appetizers === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-2xl font-bold flex-shrink-0"
                (click)="appetizersToggle()" style="cursor:pointer;">{{categories1}}</Button>
            </li>

            <li [class]="soupsAndSalads === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-2xl font-bold flex-shrink-0"
                (click)="soupsAndSaladsToggle()" style="cursor:pointer;">{{categories2}}</Button>
            </li>

            <li [class]="tacos === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-2xl font-bold flex-shrink-0"
                (click)="tacosToggle()" style="cursor:pointer;">{{categories3}}</Button>
            </li>

            <li [class]="enchiladas === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-2xl font-bold flex-shrink-0"
                (click)="enchiladasToggle()" style="cursor:pointer;">{{categories3}}</Button>
            </li>

            <li [class]="desserts === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-2xl font-bold flex-shrink-0"
                (click)="dessertsToggle()" style="cursor:pointer;">{{categories4}}</Button>
            </li>

            <li [class]="beverages === true ? 'bg-red-500 rounded-lg p-1 text-white' : ''">
              <Button class="hover:text-white hover:bg-red-500 hover:rounded-lg hover:p-1 
                            text-2xl font-bold flex-shrink-0"
                (click)="beveragesToggle()" style="cursor:pointer;">{{categories5}}</Button>
            </li>
          </ul>

        </div>
      </nav>

      
      <!--Food Categories-->
      <!--h2  *ngIf="menu" class="text-6xl mb-8">Menu</h2-->
      <div *ngIf="menu" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="bg-white shadow-lg p-4" (click)="appetizersToggle()" style="cursor:pointer;">
            <img src="assets\Food\guacamoleAndChips.jpg" alt="Appetizers" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">{{categories0}}</h3>
            <p class="text-gray-600">{{appetizersName0}}</p>
            <p class="text-gray-600">{{appetizersName1}}</p>
            <p class="text-gray-600">{{appetizersName2}}</p>
            <p class="text-gray-600">{{appetizersName3}}</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="soupsAndSaladsToggle()" style="cursor:pointer;">
            <img src="assets\Food\pozole.jpg" alt="Soups and Salads" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">{{categories1}}</h3>
            <p class="text-gray-600">{{soupsAndSaladsName0}}</p>
            <p class="text-gray-600">{{soupsAndSaladsName1}}</p>
            <p class="text-gray-600">{{soupsAndSaladsName2}}</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="tacosToggle()" style="cursor:pointer;">
            <img src="assets\Food\tacos.jpg" alt="Tacos" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">{{categories2}}</h3>
            <p class="text-gray-600">{{tacosName0}}</p>
            <p class="text-gray-600">{{tacosName1}}</p>
            <p class="text-gray-600">{{tacosName2}}</p>
            <p class="text-gray-600">{{tacosName3}}</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="enchiladasToggle()" style="cursor:pointer;">
            <img src="assets\Food\enchiladas.jpg" alt="Enchiladas" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">{{categories3}}</h3>
            <p class="text-gray-600">{{enchiladasName0}}</p>
            <p class="text-gray-600">{{enchiladasName1}}</p>
            <p class="text-gray-600">{{enchiladasName2}}</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="dessertsToggle()" style="cursor:pointer;">
            <img src="assets\Food\cake.jpg" alt="Desserts" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">{{categories4}}</h3>
            <p class="text-gray-600">Flan</p>
            <p class="text-gray-600">Churros</p>
            <p class="text-gray-600">Tres Leches Cake</p>
          </div>

          <div class="bg-white shadow-lg p-4" (click)="beveragesToggle()" style="cursor:pointer;">
            <img src="assets\Food\margaritas.jpg" alt="Beverages" class="w-full h-auto mb-4">
            <h3 class="text-xl font-bold mb-2">{{categories5}}</h3>
            <p class="text-gray-600">{{beveragesName0}}</p>
            <p class="text-gray-600">{{beveragesName1}}</p>
            <p class="text-gray-600">{{beveragesName2}}</p>
          </div>
      </div>
      
      <!--Appetizers-->
      <!--h2  *ngIf="appetizers" class="text-6xl mb-8">Appetizers</h2-->
      <div *ngIf="appetizers" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4" >
          <img src="assets\Food\guacamoleAndChips.jpg" alt="Guacamole and Chips" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{appetizersName0}}</h3>
          <p class="text-gray-600">{{appetizersInfo0}}</p>
          <span class="text-red-500 font-bold">$2.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\quesoFundido.jpg" alt="Queso Fundido" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{appetizersName1}}</h3>
          <p class="text-gray-600">{{appetizersInfo1}}</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\ceviche.jpg" alt="Ceviche" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{appetizersName2}}</h3>
          <p class="text-gray-600">{{appetizersInfo2}}</p>
          <span class="text-red-500 font-bold">$6.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\taquitos.jpg" alt="Taquitos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{appetizersName3}}</h3>
          <p class="text-gray-600">{{appetizersInfo3}}</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Soups and Salads-->
      <!--h2  *ngIf="soupsAndSalads" class="text-6xl mb-8">Soups and Salads</h2-->
      <div *ngIf="soupsAndSalads" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\tortillaSoup.jpg" alt="Tortilla Soup" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{soupsAndSaladsName0}}</h3>
          <p class="text-gray-600">{{soupsAndSaladsInfo0}}</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\chickenMexicanSalad.jpg" alt="Chicken Mexican Salad" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{soupsAndSaladsName1}}</h3>
          <p class="text-gray-600">{{soupsAndSaladsInfo1}}</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\pozole.jpg" alt="Pozole" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{soupsAndSaladsName2}}</h3>
          <p class="text-gray-600">{{soupsAndSaladsInfo2}}</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Tacos-->
      <!--h2  *ngIf="tacos" class="text-6xl mb-8">Tacos</h2-->
      <div *ngIf="tacos" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\carneAsadaTacos.jpg" alt="Carne Asada Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{tacosName0}}</h3>
          <p class="text-gray-600">{{tacosInfo0}}</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\alPastorTacos.jpg" alt="Al Pastor Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{tacosName1}}</h3>
          <p class="text-gray-600">{{tacosInfo1}}</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\bajaFishTacos.jpg" alt="Baja Fish Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{tacosName2}}</h3>
          <p class="text-gray-600">{{tacosInfo2}}</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\vegetarianTacos.jpg" alt="Vegetarian Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{tacosName3}}</h3>
          <p class="text-gray-600">{{tacosInfo3}}</p>
          <span class="text-red-500 font-bold">$3.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Enchiladas-->
      <!--h2  *ngIf="enchiladas" class="text-6xl mb-8">Enchiladas</h2-->
      <div *ngIf="enchiladas" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\chickenEnchiladas.jpg" alt="Chicken Enchiladas" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{enchiladasName0}}</h3>
          <p class="text-gray-600">{{enchiladasInfo0}}</p>
          <span class="text-red-500 font-bold">$8.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\cheeseAndSpinachEnchiladas.jpg" alt="Cheese and Spinach Enchiladas" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{enchiladasName1}}</h3>
          <p class="text-gray-600">{{enchiladasInfo1}}</p>
          <span class="text-red-500 font-bold">$6.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\enchiladasSuizas.jpg" alt="Enchiladas Suizas" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{enchiladasName2}}</h3>
          <p class="text-gray-600">{{enchiladasInfo2}}</p>
          <span class="text-red-500 font-bold">$7.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Desserts-->
      <!--h2  *ngIf="desserts" class="text-6xl mb-8">Desserts</h2-->
      <div *ngIf="desserts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\flan.jpg" alt="Flan" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{dessertsName0}}</h3>
          <p class="text-gray-600">{{dessertsInfo0}}</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\churros.jpg" alt="Churros" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{dessertsName1}}</h3>
          <p class="text-gray-600">{{dessertsInfo1}}</p>
          <span class="text-red-500 font-bold">$4.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\tresLechesCake.jpg" alt="Tres Leches Cake" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{dessertsName2}}</h3>
          <p class="text-gray-600">{{dessertsInfo2}}</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

      <!--Beverages-->
      <!--h2  *ngIf="beverages" class="text-6xl mb-8">Beverages</h2-->
      <div *ngIf="beverages" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\margarita.jpg" alt="Appetizers" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{beveragesName0}}</h3>
          <p class="text-gray-600">{{beveragesInfo0}}</p>
          <span class="text-red-500 font-bold">$5.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\aguaFresca.jpg" alt="Soups and Salads" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{beveragesName1}}</h3>
          <p class="text-gray-600">{{beveragesInfo1}}</p>
          <span class="text-red-500 font-bold">$2.99</span>
        </div>

        <div class="bg-white shadow-lg p-4">
          <img src="assets\Food\mexicanBeer.jpg" alt="Tacos" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">{{beveragesName2}}</h3>
          <p class="text-gray-600">{{beveragesInfo2}}</p>
          <span class="text-red-500 font-bold">$3.99</span>
        </div>

        <div class="bg-white shadow-lg p-4 block sm:hidden" (click)="menuToggle()">
          <img src="assets\back.jpg" alt="Back" class="w-full h-auto mb-4">
          <h3 class="text-xl font-bold mb-2">Back To Menu</h3>
        </div>
      </div>

    </div>
</section>